// --------------------------------

// Custom Style - your bespoke style

// --------------------------------

@import 'custom-style/colors';
@import 'custom-style/spacing';
@import 'custom-style/shared-styles';
@import 'custom-style/typography';
@import 'custom-style/icons';
@import 'custom-style/buttons';
@import 'custom-style/forms';

.form1{
margin: 100px;
display: flex;
justify-content: space-around;

}

.body{
    background-color: rgb(67, 67, 179);
}


.main-footer{
    background-color: rgb(95, 95, 250);
}


.text{
    color: black;
}
